<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flori.winecellar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityCaveMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClassNewCavePopUp"
            android:theme="@style/AppTheme.PopupCustomTheme"></activity>
        <activity android:name=".ActivityBouteilleMenu"
            android:label="Cellarium"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ActivityCaveMenu">
        </activity>
        <activity android:name=".ClassNewBouteillePopUp"
            android:theme="@style/AppTheme.PopupCustomTheme"></activity>
    </application>

</manifest>